:root {
    --main-text-color: #444444;
}

body {
    color: var(--main-text-color) !important;
}

header, nav {
    background-color: #febadc;
}

header > div {
    border-bottom: 1px solid var(--main-text-color) !important;
}

header a {
    color: var(--main-text-color) !important;
}

nav a {
    color: var(--main-text-color) !important;
}
